<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Cumulus</title>
</head>
<body>
    <img src="https://payload.cargocollective.com/1/12/402732/13541367/Cumulus_Logo2_670.png" alt="Logo" style="width: 300px;">
    <a id="menu" href="/reglog">Registration/Login</a>
    <div id="Welcome" style="text-align: center;">
        <h1 id="Welcomeh1" style="font-size: 50px; color: cornflowerblue;">Welcome to Cumulus</h1>
        <p style="font-size: 20px; padding-left: 200px; padding-right: 200px; padding-top: 100px; padding-bottom: 50px;">
            Here at Cumulus we believe in the power of a moment. Our lives are the sum of moments spread 
            across time & shared with the ones we love. Cumulus offers you an opportunity to build & store those moments to
            share with generations after you're gone so that your childrens' childrens' children can have a moment with you. A life is a brief
            moment in time but with Cumulus those moments can live forever.
        </p>
        <a id="reglogin2" href="/reglog">Join Cumulus Today</a>
    </div>      
</body>
</html>